@font-face {
	font-family: 'Raleway-Bold'; 
    src: url("../famile/Raleway-Bold.woff2"); 
}
@font-face {
	font-family: 'Raleway-Regular'; 
    src: url("../famile/Raleway-Regular.woff2"); 
}
@font-face {
	font-family: 'Monoton-Regular'; 
    src: url("../famile/Monoton-Regular.woff2"); 
}
@font-face {
	font-family: 'Raleway-Medium'; 
    src: url("../famile/Raleway-Medium.woff2"); 
}
@font-face {
	font-family: 'Raleway-SemiBold'; 
    src: url("../famile/Raleway-SemiBold.woff2"); 
}

