/*Обнуление*/
@import "_zero.scss";

/*Шрифты*/
@import "_fonts.scss";




:root {
	--black: #000000;
	--purple: #aa15b6;
}

html,
body {
	background-color: var(--black);
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	
	box-sizing: border-box;
}



.container-xxl {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}
.container-1440 {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
.container {
	max-width: 885px;
	width: 100%;
	margin: 0 auto;
}
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	background-color: var(--black);
}
::-webkit-scrollbar-thumb {

	background-color: rgb(18, 18, 18);
}




/* 		HEADER 		 */
.header {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	max-height: 1000px;
	border: 0px solid var(--black);
	overflow: hidden;
	background-color: var(--black);


	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
.header__content {
	background: url("../img/background_header_decorations.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	max-width: 1440px;
	width: 100%;
	margin: 0 auto;


	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 1.5rem;



}
a {
	text-decoration: none;
	color: #fff;
}
.nav {

}
.nav > ul {	
	font-family: 'Raleway-Bold'; 
	font-size: 30px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	position: relative;
	padding: 0 1rem;
	

}
.nav li {
	margin-right: 0.5rem;
}
.nav a {
	color: #fff;
	text-decoration: none;

	&:is(:hover, :focus) {
		transition: all .3s ease 0s;
		color: var(--purple);
	}
}

.li_home {
	position: absolute;
	left: 1rem;
}

.menu {
	width: 18px;
	height: 1.5rem;
	
	position: relative;
	align-items: center;
	margin: auto 0;
	display: flex;
	flex-flow: row wrap;
	z-index: 999;

}
.menu_nav {

	width: 18px;
	height: 1.5rem;
	
	position: relative;
	align-items: center;
	margin: auto 0;
	display: flex;
	flex-flow: row wrap;

}
.srick {
	display: inline-block;
	width: 100%;
	height: 4px;
	background-color: #fff;
}

.header__text {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 100%;
}

.header__left {
	text-align: center;
	background-color: rgba(255, 0, 81, 0.6);
	border-radius: 50%;
	width: 24rem;
	height: 24rem;
	top: -4%;
	left: 4%;
	position: relative;


	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-content: center;
	text-transform: uppercase;
	





	h1 {
		font-family: 'Monoton-Regular'; 
		font-size: 3.7rem;
		font-weight: 400;

	}
	h3 {
		font-family: 'Raleway-Medium'; 
		font-size: 2.5rem;
		line-height: 20px;
		font-weight: 400;
	}
}

.header__right {
	display: inline-block;
	height: 100%;
	width: 50%;
	text-align: end;

	display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
	align-content: center;
	padding-right: 1rem;
	

	h2 {
		text-transform: uppercase;
		font-size: 3rem;
		font-family: 'Raleway-SemiBold'; 
	}
	p {
		font-size: 0.85rem;
		font-family: 'Raleway-Medium'; 
		font-weight: 400;
		width: 80%;

		display: flex;
		justify-content: flex-end;
		flex-flow: row wrap;
		align-content: center;
	}
	p::before {
		content: "";
		width: 32%;
		height: 5px;
		background-color: #fff;
		margin-bottom: 15px;

	}

	a {
		text-decoration: none;
		font-size: 1rem;
		font-family: 'Raleway-Medium'; 
		color: #100667;
		font-weight: 400;
		padding: 4px 60px;
		border: 0 solid transparent;
		margin-top: 2rem;
		background-color: #fff;
		position: relative;
	}
	a:is(:hover, :focus) {
		transition: all .3s ease 0s;
		background-color: var(--purple);
	}
}
	



/* 		MAIN 	  */
main {
	background-color: var(--black);
}
.main__guests {
	padding: 15vh 0;
}

.main__guests__content {
	height: 100%;
	text-align: center;
	
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-content: center;
	padding: 0 1rem;


	img  {
		width: 55px;
	}
	h4 {
		width: 100%;
		font-size: 1.5rem;
		font-family: 'Raleway-Bold'; 
		margin-top: 1%;
		margin-bottom: 2.5%;
		
	}
	p {
		font-family: 'Raleway-Regular'; 
		font-size: 0.75rem;
		max-width: 650px;
	}
}

.main__new {
	background-color: var(--purple);
}
.main__new__content {
	padding: 9vh 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10%;
}
.main__new_col {

	font-weight: 400;
	img {
		transform: rotate(-134deg);
		width: 40px;
		margin-bottom: 1vh;
	}
	h6 {
		font-family: 'Raleway-Bold'; 
		font-size: 0.8rem;
		margin-bottom: 2.5vh;
	}
	p {
		font-family: 'Raleway-Regular'; 
		font-size: 0.65rem;
	}
}


.main__priorities {
	background-color: var(--black);
	padding: 10vh 1rem;
	font-weight: 400;
}
.main__priorities__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2%;
}
.main__priorities__text {
	max-width: 650px;
	text-align: center;
	h5 {
		font-family: 'Raleway-Bold'; 
		font-size: 1.5rem;

		margin-bottom: 3vh;
	}
	p {
		font-family: 'Raleway-Regular';
		font-size: 0.75rem;
		margin-bottom: 10vh;
	}
}
.main__priorities__colums {
	background-color: var(--purple);
	padding: 50px 66px;
	
	height: 100%;
	text-align: start;


	h5 {
		text-transform: uppercase;
		font-family: 'Raleway-Bold'; 
		font-size: .8rem;
		margin-bottom: 40px;
	}
	p {
		font-family: 'Raleway-Regular';
		font-size: .70rem;
	}
}
.main__priorities__people {
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;

	img {
		width: 50px;
		height: 50px;
	}
	h6 {
		text-transform: uppercase;
		font-family: 'Raleway-Bold'; 
		font-size: .65rem;
	}
	p {
		font-family: 'Raleway-Regular';
		font-size: .65rem;
	}

	.text {
		overflow: auto;
	}
}

.main__img_stars {
	background: url("../img/background_img_5.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	max-height: 360px;
}

.main__what_do {
	background-color: var(--black);
	height: 100vh;
	max-height: 400px;
}
.main__what_do__text {
	text-align: center;
	padding: 10vh 1rem;
	max-width: 600px;
	font-weight: 400;

	h4 {
		font-family: 'Raleway-Bold'; 
		font-size: 1.5rem;
		margin-bottom: 2vh;
	}
	p {
		font-family: 'Raleway-Regular'; 
		font-size: .8rem;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
	p::after {
		content: "";
		width: 100%;
		max-width: 150px;
		height: 7px;
		background-color: #fff;
		border: 0 solid transparent;
		border-radius: 0;

		margin-top: 5vh;
		margin-bottom: 3vh;
	}

	ul {
		font-family: 'Raleway-Bold'; 
		font-size: .75rem;
		display: flex;
		justify-content: center;
		gap: 6%;
	}
	li {
		list-style: none;

	}
}

.main__img_smoke {
	background: url("../img/background_img_7.png");
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	max-height: 350px;
}


.main__quote {
	background-color: var(--black);
}

.main__quote__text {
	text-align: center;
	padding: 5vh 1rem;
	max-width: 600px;
	font-weight: 400;

	h4 {

		font-family: 'Raleway-Bold'; 
		font-size: 4rem;
		display: block;

	}
	h4::before {
		content: "";
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 150px;
		height: 7px;
		background-color: #fff;
		border: 0 solid transparent;
		border-radius: 0;
	
		margin-top: 5vh;
		margin-bottom: 3vh;
	}
	

	p {
		font-family: 'Raleway-Regular'; 
		font-size: .8rem;
		margin-top: -30px;
		margin-bottom: 3vh;

	}
	h6 {
		font-family: 'Raleway-SemiBold'; 
		font-size: .85rem;
	}
}

.main__nature {
	background: url("../img/background_img_9.jpg");
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;

}
.main__nature__text {
	text-align: center;
	padding: 25vh 1rem;
	max-width: 605px;
	font-weight: 400;

	h4 {
		font-family: 'Raleway-Bold';
		font-size: 1.5rem;
		margin-bottom: 2vh;
	}
	p {
		font-family: 'Raleway-Regular'; 
		font-size: .75rem;
	}
}

.main__numbers {
	background: url("../img/background_img_10.jpg");
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
    max-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main__numbers__text {
	text-align: center;
	padding: 15vh 1rem;
	max-width: 600px;
	font-weight: 400;

	
	h4 {
		font-family: 'Raleway-Bold';
		font-size: 1.5rem;
		margin-bottom: 10vh;
	}

	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		text-align: start;
		gap: 18%;
		
	}


	p {
		font-family: 'Raleway-Regular'; 
		font-size: .65rem;
		margin-bottom: 2vh;
	}
	h6 {
		font-family: 'Raleway-SemiBold'; 
		font-size: 1rem;
	}
	h5 {
		font-family: 'Raleway-SemiBold'; 
		text-transform: uppercase;
		font-size: 0.9rem;
	}
}


.main__something_new {
	background-color: var(--black);
	padding: 10vh 1rem;
}

.main__something_new__text {
	

	ul {
		list-style: none;
	}

	li {
		display: flex;
		margin-top: 5vh;
	}

	img {
		max-width: 49%;
		max-height: 45vh;
	}
	.text {
		width: 50%;
		text-align: center;
		padding: 0 2%;
		margin: auto 0;

	}

	h6 {
		font-family: 'Raleway-Bold'; 
		font-size: .85rem
	}
	h5 {
		font-family: 'Raleway-Bold'; 
		font-size: .9rem;
	}
	p {
		font-family: 'Raleway-Regular'; 
		font-size: .7rem;
		padding: 0 10%;
		text-align: justify-all;
	}

}


/*		FOOTER		 */
body footer {
	background-color: var(--black);
}
.footer__date {
	background-color: var(--purple);
	padding: 7vh 1rem;
}
.footer__date__text {

	ul {
		display: flex;
		justify-content: space-between;
	}
	li {
		list-style: none;
		position: relative;
	}
	li::before {
		content: "";
		height: 120%;
		width: 4px;
		background-color: #fff;
		position: absolute;
		margin-left: -15px;
	}

	h5 {
		font-family: 'Raleway-Bold'; 
		font-size: .70rem;
		margin: 0 5px;
	}
	h6 {
		font-family: 'Raleway-Bold'; 
		font-size: .65rem;
		margin-left: 5px;
	}
}

.footer__quote_2 {
	background-color: var(--black);
	padding: 3vh 1rem;
}
.footer__quote_2__text {
	text-align: center;

	h4 {
		font-family: Raleway-Bold;
    	font-size: 4rem;
		margin-bottom: -40px;
	}
	p {
		font-family: Raleway-Regular;
		font-size: .75rem;
		max-width: 550px;
		margin: 0 auto;
		margin-bottom: 2vh;
	}
	h6 {
		font-family: Raleway-SemiBold;
    	font-size: .85rem;
		margin-bottom: 3vh;
	}

	.icon {
		display: flex;
		justify-content: center;
	}
	img {
		width: 35px;

	}
	a {
		margin: 0 1%;
	}
}


.footer__about {
	background-color: var(--purple);
	padding: 8vh 1rem;

	a {
		font-size: 1.5rem;
		font-family: sans-serif;
	}
}


.footer__about__text {
	font-weight: 400;

	.main_text {
		margin-right: 12%;
	}
	ul {
		display: flex;
		justify-content: space-between;
		gap: 2%;
	}
	li {
		list-style: none;
	}
	h4 {
		text-transform: uppercase;
		font-family: 'Raleway-Bold'; 
		font-size: 1.1rem;
		margin-bottom: 3vh;
	}
	p {
		font-family: Raleway-Regular;
		font-size: .75rem;
		max-width: 250px;
	}

	h5 {
		text-transform: uppercase;
		font-family: 'Raleway-Bold'; 
		font-size: .9rem;
		margin-bottom: 3vh;
	}
	h6 {
		font-family: 'Raleway-Bold'; 
		font-size: .85rem;
	}
}

.menu {
	display: none;
}

.main__priorities__colums:is(:hover, :focus) {
	transition: all .3s ease 0s;
	transform: scale(1.03);
}
.main__something_new__text img:is(:hover, :focus) {
	transition: all .3s ease 0s;
	transform: scale(1.03);
}
.main__something_new__text .text:is(:hover, :focus) {
	transition: all .3s ease 0s;
	transform: scale(1.03);
}
.footer__quote_2__text img:is(:hover, :focus) {
	transition: all .3s ease 0s;
	transform: scale(1.03);
}

/* Media */

@media screen and (max-width: 1199px) {
	html,
	body {
		font-size: 15px;
	}

	.header__content {
		background-size: auto 100%;
	}

	.footer__date__text li::before {
		margin-left: -5px;
	}

	.header__left {
		left: 6%;
	}
	.header__right {
		padding-right: 5%;
	}
	.footer__date__text ul {
		justify-content: space-around;
	}

}





@media screen and (max-width: 991px) {
	html,
	body {
		font-size: 14px;
	}
	.main__priorities {
		padding: 10vh 0;
	}

	.main__priorities__content {
		gap: 0;
		overflow-x: auto;
		.container {
			max-width: 100%;
		}
		padding-bottom: 1rem;
		padding-right: 10%; 
	}
	.main__priorities__colums {
		min-width: 40%;
		margin-left: 10%;
	}

	.main__priorities__content::-webkit-scrollbar {
		height: 3px;

	}
	.main__priorities__content::-webkit-scrollbar-track {
		background-color: transparent;
	}
	.main__priorities__content::-webkit-scrollbar-thumb {
		border-radius: 50px;
		background-color: #111;
	}

}

@media screen and (max-width: 767px) {
	.header__right {
		height: auto;
		width: auto;
		padding-right: 10px;

	}
	.header__content {
		padding: 0;
	}
	.header__left {
		min-width: 0rem;
		width: 0rem;
		height: 0rem;
		left: 0px;
	}

	nav {
		transition: all .8s ease 0s;
		display: flex;
		position: fixed;
		z-index: 999;
		align-items: flex-start;
		padding-top: 60px;
		overflow-y: auto;
		background-color: var(--black);
		max-width: 70%;
		height: 105vh;
		top: 0;
		right: 0;
		right: -250%;
		bottom: 0;
		left: 0;



		ul {

			text-align: center;
			justify-content: center;
			flex-flow: row wrap;
			align-content: center;
		}
		li {
			
			overflow-y: auto;
			font-size: 2.5rem;

			width: 100%;
		}
		.li_home {
			position: static;
			left: auto;
		}

		.srick {
			width: 100%;
			height: 4px;
		}
		.menu_nav {
			display: none;
		}
	}
	.menu {
		display: flex;
		top: 1vh;
		right: 1%;
		position: fixed;
		display: flex;
		width: 35px;
		height: auto;
		transform: none;

		padding: 5px 5px;
		background-color: var(--purple);
		border-radius: 5px;
		border: 2px solid var(--black);
		gap: 3px;

	}
	.header__right a {
		text-decoration: none;
		background-color: #fff;
		padding: 2px 30px;
		margin: 25px;
		color: #100667;
		font-family: 'Raleway-Medium'; 
	}
	.header__content {
		padding-top: 1vh;
		
	}
	.main__priorities__content {
		padding-right: 1rem;
	}
	.main__priorities__colums {
		min-width: 50%;
		margin-left: 1rem;
	}

	.header__left {
		min-width: 21rem;
		width: 21rem;
		height: 21rem;
	}


	.header__content {
		background-size: cover;
	}
	.header__left {
		left: 10px;
	}
	.nav>ul {
		padding: 0 5px;
	}

	.header__text {
		z-index: 5;
		position: absolute;
		overflow-y: hidden;
	}


}
@media screen and (max-width: 676px) {
	.header__left {
		display: none;
	}
	.header__right {
		justify-content: center;
	}
	.header__right p {
		justify-content: center;
		text-align: center;
	}
	.header__content {
		position: relative;
	}
	.header__content::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .3);
		z-index: 2;
	}
	.main__something_new__text {
		
		.text {
			min-width: 100%;
		}
		img {
			display: none;
		}
	}
	.main__new__content {
		padding: 9vh 5px;
		gap: 2%;
	}
	.header__right a {
		padding: 5px 60px;
	}

}

@media screen and (max-width: 575px) {
	.main__priorities__content {
		padding-right: 1rem;
	}
	.main__priorities__colums {
		min-width: 80%;
		margin-left: 3%;
	}
	.header__right h2 {
		font-size: 2.5rem;
	}
}

.menu {

	.srick {
		transform: translateY(0px) translateX(0px) rotate(0deg);
		transition: .25s ease-in-out;
	}
	
}
.menu_activ {
    min-height: 32px;
	top: 1vh;
	right: calc(1% + 3px);
	overflow: hidden;
	position: fixed;
	

	.srick {
		min-width: 25px;
	}

	.srick:nth-child(1) {
		transform: translateY(6px) translateX(-2px) rotate(45deg);
		transition: all .3s ease 0s;

	}
	.srick:nth-child(3) {
		transform: translateY(-7px) translateX(-2px) rotate(-45deg);	
		transition: all .3s ease 0s;
	
	}
	.srick:nth-child(2) {
		background-color: transparent;
	}

}
.nav_activ {
	transition: all .5s ease 0s;	
	right: 0;
	overflow: auto;

}
.body_hidden {
	overflow: hidden;
}


























































































