doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/style.css")
		title festival
	body 
		
		header.header(style="background: url(\"../img/background_header.jpg\")")
			.header__content
				nav.nav.container-xxl 
					ul 
						li.li_home 
							a(href="#") HOME
						li
							a(href="#") ABOUT
						li
							a(href="#") SHOP
						li
							a(href="#") CONTACT
					
						li.menu_nav
							.srick
							.srick
							.srick
				.menu
					.srick
					.srick
					.srick
							
							 
							
						
				.header__text.container-xxl
					.header__left
						h3 SUMMER
						h1 WEBSITE
								

					.header__right
						h2 full template	
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna essentiale oculis invisum aliqua. Ut enim.

						a(href="#")  read more




		main.main
			section.main__guests.container-1440
				.main__guests__content.container
					img(src="/img/icon/decorations_2.png")
				
					h4 Special guests this year
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 


			section.main__new
				.main__new__content.container
					.main__new_col
						img(src="/img/icon/decorations_3.png")
						h6 New music
						p Lorem ipsum dolor sit amet, consecte sectetur adipisicing elit, tation omne  ullamco laboris nisi ut aliqolore.

					.main__new_col
						img(src="/img/icon/decorations_3.png")
						h6 New groups
						p Lorem ipsum dolor sit amet, consecte sectetur adipisicing elit, tation omne  ullamco laboris nisi ut aliqolore.

					.main__new_col
						img(src="/img/icon/decorations_3.png")
						h6 New themes
						p Lorem ipsum dolor sit amet, consecte sectetur adipisicing elit, tation omne  ullamco laboris nisi ut aliqolore.

			section.main__priorities.container-1440
				.main__priorities__text.container
					h5 Priorities go first
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 

				
				.main__priorities__content.container
					

					.main__priorities__colums
						h5 company
						p “Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do”.
						.main__priorities__people 	
							img(src="/img/icon/decorations_4.png")
							.text
								h6 adam johns
								p account manager


					.main__priorities__colums
						h5 company
						p “Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do”.
						.main__priorities__people 	
							img(src="/img/icon/decorations_4.png")
							.text
								h6 adam johns
								p account manager

					.main__priorities__colums
						h5 company
						p “Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do”.
						.main__priorities__people 	
							img(src="/img/icon/decorations_4.png")
							.text
								h6 adam johns
								p account manager

			section.main__img_stars.container-1440

			section.main__what_do.container-1440
				.main__what_do__text.container
					h4 What exactly do we do
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 

					ul 
						li Projects
						li Travel
						li Mission
						li Photos

			section.main__img_smoke.container-1440

			section.main__quote.container-1440
				.main__quote__text.container
					h4 “
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 

					h6 David Johnson

			section.main__nature.container-1440
				.main__nature__text.container
					h4 Nature is above all
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

			section.main__numbers.container-1440
				.main__numbers__text.container
					h4 Some of our numbers
					ul 
						li 
							p Lorem ipsum dolor sit amet consectetur
							h6 2018
							h5 lorem ipsum

						li 
							p Lorem ipsum dolor sit amet consectetur
							h6 2019
							h5 lorem ipsum

						li 
							p Lorem ipsum dolor sit amet consectetur
							h6 2020
							h5 lorem ipsum

			section.main__something_new.container-1440
				.main__something_new__text.container-xxl
					ul 
						li 
							.text 
								h6 Projects / 20th August
								h5 Something new has just arrived
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v architecto beatae vitae dicta sunt es. omne essentiale dolor liquam.
							img(src="/img/11_img_1.jpg")


						
						li 
							img(src="/img/11_img_2.jpg")
							.text 
								h6 Projects / 20th August
								h5 Something new has just arrived
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v architecto beatae vitae dicta sunt es. omne essentiale dolor liquam.
						
						
						li 
							.text 
								h6 Projects / 20th August
								h5 Something new has just arrived
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v architecto beatae vitae dicta sunt es. omne essentiale dolor liquam.
							img(src="/img/11_img_3.jpg")






		footer.footer
			section.footer__date
				.footer__date__text.container-xxl
					ul 
						li 
							h5 Lorem ipsum dolor sit
							h6 Trips / 16th March, 2019
						li 
							h5 Lorem ipsum dolor sit
							h6 Trips / 16th March, 2019
						li 
							h5 Lorem ipsum dolor sit
							h6 Trips / 16th March, 2019

			section.footer__quote_2.container-1440
				.footer__quote_2__text.container
					h4 “
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
					h6 David Johnson

					.icon
						a(href="#") 
							img(src="/img/icon/icon_13_1.png")
						a(href="#") 
							img(src="/img/icon/icon_13_2.png")
						a(href="#") 
							img(src="/img/icon/icon_13_3.png")
						a(href="#") 
							img(src="/img/icon/icon_13_4.png")
						a(href="#") 
							img(src="/img/icon/icon_13_5.png")

			section.footer__about
				.footer__about__text.container-xxl
					ul 
						li.main_text  
							a(href="#")
								h4 about
								p Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt ultimam quantum

						li 
							a(href="#")
								h5 about

								h6 Team
								h6 Join us
								h6 Ethic
								h6 Goals

						li 
							a(href="#")
								h5 about

								h6 Team
								h6 Join us
								h6 Ethic
								h6 Goals 

						li 	
							a(href="#")
								h5 about

								h6 Team
								h6 Join us
								h6 Ethic
								h6 Goals

				<a href="http://www.freepik.com">Разработано Freepik</a>
			






		
		

		script( src="/js/main.min.js")


























































